.bg-gradient-primary {
	background-image: linear-gradient(180deg,#C99700 10%,#E1B900 100%) !important;
	background-color: #0C2340 !important;
}

.sidebar {
	background-image: linear-gradient(180deg,#0C2340 10%,#0C2340 100%) !important;
}

.container {
	background-color: rgb(255,255,255);
}

.bg-login-image {
	background: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/23794809_10156796927838098_5294834033329399851_n.jpg?_nc_cat=100&_nc_ht=scontent-ort2-1.xx&oh=00c62942d71072e8382468ee522d9004&oe=5D10CB82");
}

.bg-register-image {
	background: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/23794809_10156796927838098_5294834033329399851_n.jpg?_nc_cat=100&_nc_ht=scontent-ort2-1.xx&oh=00c62942d71072e8382468ee522d9004&oe=5D10CB82");
}

.btn {
	background-color: #0C2340;
	border-color: #C99700;
}

.form-group {
	margin-left: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	width: 30%;
}
/*
<<<<<<< HEAD

.card, .card-header, .card-body, .card-body::after {
    border: 1px solid white !important; 
}

.btn-icon-split .icon {
    background-color: rgb(174,145,66); !important;
}
=======
*/
>>>>>>> 286a9dee7e09883279a5cab6211dbdf02e9f1070
